<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDl2fzeSZ8GROrYic_DNE_jeiLmlFO5ik</string>
	<key>GCM_SENDER_ID</key>
	<string>11046890544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seAdminApp</string>
	<key>PROJECT_ID</key>
	<string>savyasachi-engineering</string>
	<key>STORAGE_BUCKET</key>
	<string>savyasachi-engineering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11046890544:ios:e6a3578971482f62c151f5</string>
</dict>
</plist>